{% extends "movieclub/layout.html" %}

{% load static %}

{% block script %}
    <!-- <script src="{% static 'movieclub/javascript.js' %}"></script> -->
{% endblock %}

{% block body %}

    {% if user.is_staff %}
        <br>
        <div class="container">
            <h4 class="marg">Add new movie:</h4>
            <br>
            <form action="{% url 'add_movie' %}" method="post">
                {% csrf_token %}
                <label for="title"></label>
                <input type="text" name="title" autocomplete="off" placeholder="Title"><br><br>
    
                <label for="year"></label>
                <input type="number" name="year" autocomplete="off" placeholder="Year"><br><br>
    
                <label for="synopsis"></label>
                <textarea name="synopsis" rows="6" cols="60" placeholder="Synopsis"></textarea><br><br>
    
                <input class="button" type="submit" value="Submit">
            </form>
        </div>
        
    {% endif %}

{% endblock %}

