{% extends "movieclub/layout.html" %}

{% block body %}

    <div class="container">
        
        <h4 class="marg">Login:</h4>
        <br>

        {% if message %}
            <div class="marg">{{ message }}</div>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}

            <label for="username"></label>
            <input autofocus type="text" name="username" placeholder="Username">
            <br><br>

            <label for="password"></label>
            <input type="password" name="password" placeholder="Password">
            <br><br>

            <input class="button" type="submit" value="Login">
        </form>
    </div>
    
    <div class="container">
        <br>
        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
    </div>
    

{% endblock %}